

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
      <div class="container has-text-centered">
      <div class="front-page-title">
        <h1 class="title">
          Time For Print
        </h1>
        <h2 class="subtitle">
          Collaborate Creatively
        </h2>
        </div>
      </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->

</section>
