<div class="hero-body">
  <div class="container has-text-centered">
    <div class="container">
      <div class="notification">

        <% @posts.each do |post| %>
        <article class="media">
          <figure class="media-left">
            <p class="post is-64x64">
              <img src="https://bulma.io/posts/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <%= link_to post.title, post_path(post.id) %>


                <hr>
                <small><%= User.first.name %></small>
                <small><%= post.created_at %></small>
                <br>
                <br>
                <div>
                  <%= post.description %>
                </div>
              </p>
            </div>
          </div>
          <div class="media-right">
            <button class="delete"></button>
          </div>
        </article>
        <% end %>
    </div>



  </div>
</div>
