

<div class="support-grid"></div>
<% @posts.each do |post| %>
  <div class="band">
    <div class="item-1">
          <a href="/posts/<%= post.id %>" class="card">
            <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg);"></div>
            <article>
              <h1><%= post.title %></h1>
              <span><%= User.first.name %></span>
            </article>
          </a>
    </div>
<% end %>
  </div>
</div>
