/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_tree .
  *= require_self
  *= require 'masonry/basic'
  *= require 'masonry/centered'
  *= require 'masonry/fluid'
  *= require 'masonry/gutters'
  *= require 'masonry/infinitescroll'
  *= require 'masonry/right-to-left'
  *= require 'masonry/transitions'
 */




@import "bulma";

h3 {
  margin: 0px !important;
}
.dark-text {
  color: rgb(70, 70, 70);
}
.box {
  margin: 2px;
}
.section {
  max-width: 1220px;
}
.mason {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #3e3e3e;
}

.tit {
  font-size: 25px;
}
.sub {
  font-size: 10px;
}

.media {
  min-width: 200px;
}

.section {
  margin: 0 auto;
  position: relative;
  margin: 0 auto;
  left: 0px !important;
}

.hero.is-success .title .is-5{
  color: rgb(66, 66, 66) !important;
}


.hero.is-success {
  background-color: rgb(74, 74, 74);
}

.front-page-title{
  color: black;
  border-radius: 10px;
  margin:0 auto;
  padding: 15px;
  height: 100%;
  min-width: 30vw;
  max-width: 30vw;

  background: rgba(98, 179, 209, .8);
}
a.navbar-item:hover, .hero.is-success a.navbar-item.is-active, .hero.is-success .navbar-link:hover, .hero.is-success .navbar-link.is-active {
  background-color: #7fe3cc;
}

.button.is-success.is-inverted {
color: #7fe3cc;
top: 12px;
margin-left: 30px;
margin-right: -70px;
}

.nav-name {
  color: #7fe3cc;
}

.notice {
  background-color: #7fe3cc;
}

.alert {
  background-color: #7fe3cc;
}


image is-64x64 {
  margin: 0px;
  padding: 0px;
}






#masonry-container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}

.container .has-text-centered {
  margin: 0 auto;
  text-align:center;
}

.card .media-content {
  color: rgb(57, 57, 57);
}
