/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_tree .
  *= require_self
  *= require 'masonry/basic'
  *= require 'masonry/centered'
  *= require 'masonry/fluid'
  *= require 'masonry/gutters'
  *= require 'masonry/infinitescroll'
  *= require 'masonry/right-to-left'
  *= require 'masonry/transitions'
 */


@import "animate";

@import "bulma";

.hero-body {
  background-image: url('https://i.imgur.com/0E8mAV0.jpg');
  background-position: left;
  background-size: cover;
}

.hero.is-success a:not(.button):not(.dropdown-item):not(.tag), .hero.is-success strong {
  color: rgb(161, 161, 161);
}


.align {
  margin: 0 auto;
}

.col8 {
  position: relative;
  width: 700px;
}
.hero.is-success .title {
  color: rgb(145, 145, 145);
}
.hero.is-success {
  color: rgb(71, 71, 71);
}

.has-text-primary {
  color: pink;
}

hr {
  border-top: 1px solid #ccc;
  margin-top: 3px;
  margin-bottom:1px;
}

card-content {
  margin: 4px;
  padding: 4px;
}

.hero-head {
  background-color: rgb(51, 51, 51);
}

.is-rounded {
  height: 500px;
  border: 5px solid white;
}
.level {
  background: #7fe3cc;
}

h3 {
  margin: 0px !important;
}
.dark-text {
  color: rgb(70, 70, 70);
}
.box {
  margin: 2px;
}
.section {
  max-width: 1220px;
}
.mason {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #3e3e3e;
}

.tit {
  font-size: 25px;
}
.sub {
  font-size: 10px;
}

.media {
  min-width: 200px;
}

.section {
  margin: 0 auto;
  position: relative;
  margin: 0 auto;
  left: 0px !important;
}

.hero.is-success .title .is-5{
  color: rgb(175, 175, 175);
}


.hero.is-success {
  background-color: rgb(218, 218, 218);
}

.front-page-title{
  color: black;
  border-radius: 10px;
  margin:0 auto;
  padding: 15px;
  height: 100%;
  min-width: 30vw;
  max-width: 30vw;

  background: rgba(98, 179, 209, .8);
}
a.navbar-item:hover, .hero.is-success a.navbar-item.is-active, .hero.is-success .navbar-link:hover, .hero.is-success .navbar-link.is-active {
  background-color: #7fe3cc;
}

.button.is-success.is-inverted {
color: #7fe3cc;
top: 12px;
margin-left: 30px;
margin-right: -70px;
}

.nav-name {
  color: #7fe3cc;
}

.notice {
  background-color: #7fe3cc;
}

.alert {
  background-color: #7fe3cc;
}


image is-64x64 {
  margin: 0px;
  padding: 0px;
}

.level {
  background-color: transparent;
}



#drop_zone {
	position: relative;
	padding: 3rem 0;
	border: 2px dashed #ccc;
	text-align: center;
	border-radius: 6px;
  z-index: 100;

	&.dragging::before {
		content: "";
	  position: absolute;
	  left: 0; width: 100%;
	  top: 0; height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 1.5em;
	  background-color: rgba($primary, .3);
	  pointer-events: none;
	  z-index: 99;
	}
	&.fire::before {
		content: "";
	  position: absolute;
	  left: 0; width: 100%;
	  top: 0; height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 1.5em;
	  background-color: rgba($green, .3);
	  pointer-events: none;
	  z-index: 99;
	}
}

#masonry-container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}

.container .has-text-centered {
  margin: 0 auto;
  text-align:center;
}

.card .media-content {
  color: rgb(57, 57, 57);
}
