// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  padding: 10px;
  margin: 100px auto;
}

.grid-container > div {
  text-align: center;
  font-size: 15px;
}

.content:hover {
background-color: rgba(#23d160, 0.56);
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 6;
  margin-bottom: 15px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(84, 178, 203, 0.6);
  border-radius: 50px;
}

.item2 {
  grid-column-start: 1;
  grid-column-end: 6;
  margin-top: 15px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
}

.media {
  border-radius: 0px;
  background: white;
  padding: 30px;
  color: rgb(78, 78, 78);
}

.notification {
    background-color: white !important;
    border-radius: 0px !important;
    color: rgb(78, 78, 78);
}
