  <% @images.each do |image| %>
  <div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= User.first.name %></strong> <small><%= User.first.email %></small>

        <a href="/images/<%= image.id %>"> <img src="<%= image.user_image.thumb %>"></a>
        </p>
      </div>
    </div>
  <% end %>
  </article>
</div>
