

<section class="section">
	<div class="container">
		<h1 class="title is-2 has-text-centered">Upload your image.</h1>

    <img id="show" />
		<%= render 'form', image: @image %>
	</div>
</section>
